body {
  background-color: rgb(20, 21, 24);
  display: flex;
  align-items: center;
  justify-content: center;
}
.App,
.App-submitted {
  font-family: sans-serif;
  color: #becce4;
  background-color: rgb(30, 35, 44);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 20px;
}
.App-submitted {
  text-align: center;
  display: flex;
  align-items: center;
}

.ratings-form {
  display: flex;
  flex-direction: column;
}
.ratings {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.rating-number,
.top-star {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: rgb(40, 46, 55);
  border-radius: 50%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.rating-number:hover {
  background-color: rgb(127, 135, 151);
  color: white;
}

.rating-number.selected {
  color: white;
  background-color: rgb(224, 123, 45);
}

input {
  display: none;
}

button {
  background-color: rgb(224, 123, 45);
  border: none;
  outline: none;
  border-radius: 50px;
  margin: 1.5em;
  height: 36px;
  color: white;
}

button:hover {
  background-color: white;
  background-color: rgb(224, 123, 45);
}

img {
  width: 250px;
  border-radius: 20px;
}

.submitted-rating {
  padding: 0.5em 1em;
  border-radius: 20px;
  color: rgb(224, 123, 45);
  background-color: rgb(40, 46, 55);
}
